/*
 *= require_self
 *= require_tree .
 */

 body{
  margin: 0;
  background-color: #343434;
  color: white;
}

.sort_type{
  float: left;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  padding-right: 9em;
  margin-left: -5em;
  font-size: 3em;
}

.text_box{
  padding: 1.5em;
  background-color: black;
}

.vote_count{
  font-size: .7em;
  text-indent: 2%;
  list-style: none;
}

.text_title{
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin-bottom: 1.5em;
}

a{
  color: white;
  font-weight: bold;
}

.whole_photo{
  margin: 0.5em auto 5em auto;
  padding-right: 5%;
  padding-left: 5%;
  display: block;
  width: 70%;
}

img{
  width: 100%;
  padding: 1em;
  padding-bottom: 3em;
  background-color: #E0E0EB;
  -moz-box-shadow: 6px 3px 5px #000000;
  -webkit-box-shadow: 6px 3px 5px #000000;
  box-shadow: 6px 3px 5px #000000;
}

.prettyPhoto{
  /*display: block;*/
  margin: auto;
}

.crush_description{
  /*width: 40%;*/
  font-family: 'Marker Felt';
  color: black;
  display: block;
  position: relative;
  margin-top: -4em;
  margin-left: 5%;
}

.vote_link{
  /*position:absolute;*/
  /*right:0px;*/
  float: right;
  width: 25%;
  margin-right: 0;
  margin-left: auto;
  display: inline-block;
}

/**{
  border: 1px solid red;
  }*/

  header{
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: black;
    font-family: 'Roboto', sans-serif;
  }

  header a{
    color: white;
    text-decoration: none;
  }

  .title{
    margin-left: 10%;
    font-size: 1.5em;
  }

  nav{
    float: right;
    display: inline-block;
    /*margin: auto;*/
    margin-top: .2em;
    margin-right: 10%;
    line-height: 1.5em;
  }

  nav a{
    color: #999999;
  }

  main{
    margin: auto;
    display: block;
    width: 80%;
  }